.image {
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-position: 50% 50%;
  background-size: cover;
  filter: blur(20px);
  opacity: 0.4;
}

.cardBody {
  z-index: 1;
}

.description {
  max-height: 234px;
  overflow: scroll;
}
