.image {
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-position: 50% 50%;
  background-size: contain;
  filter: blur(20px);
  opacity: 0.4;
}

.cardBody {
  z-index: 1;
}

.description {
  // max-height: 234px;
  // overflow: scroll;
}

.textBg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(150, 150, 150, 0) 25%
  );
}
